<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {{ content_for_header }}
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'modernizr.js' | asset_url }}"></script>
  </head>
  <body data-format="{{ shop.money_format }}">
    {%- section 'header' -%}
    <main class="mainWrapper">
      {{ content_for_layout }}
    </main>
    {%- section 'footer' -%}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="{{ 'jquery.flexslider.js' | asset_url }}"></script>
    <script src="{{ 'main.js' | asset_url  }}"></script>
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {%- if template contains 'product' -%}
      <script src="{{ 'product-form.js' | asset_url  }}"></script>
    {%- endif -%}
    {%- if template contains 'collection' -%}
      <script src="{{ 'filter.js' | asset_url  }}"></script>
    {%- endif -%}
  </body>
</html>
